<h1>Template Driven</h1>
<!-- ngSubmit specifies the code that is executed when submit is clicked -->
<!-- Here we assign a local reference to the form ng2 created in the background -->
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div ngModelGroup="userData">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   [(ngModel)]="user.username"
                   name="username"
                   required
            >
            <!-- ngModel means that this is a form, please control it -->
        </div>
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="text"
                   class="form-control"
                   id="email"
                   [(ngModel)]="user.email"
                   name="email"
                   required
                   pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            >
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               [(ngModel)]="user.password"
               name="password"
               required
        >
    </div>
    <div class="radio" *ngFor="let g of genders">
        <label>
            <input type="radio"
                   name="gender"
                   [(ngModel)]="user.gender"
                   [value]="g">
            {{g}}
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
